*{
    margin: 0px;
    padding: 0px;
    color: white;
    
}
body{
    background-image: linear-gradient(rgba(4, 4, 43, 0.5), rgba(245, 245, 241, 0.144)), url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.list-div{
    margin-right: 100px;
}
.list-div ul li{
    font-size: 20px;
    display: inline;
    margin: 0px 28px;   
}
.list-div ul li a{
    text-decoration: none; 
    position: relative;
}
.list-div ul li a::after{
    content: "";
    background-color: white;
    height: 2.5px;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: -5px;   
}

.list-div ul li a:hover:after{
    width: 100%;
    transition: 1s;
   
    
}

nav img{
    width: 160px;
    margin: 2% 6%;
}

.text-div{
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width:75%;
}
.text-div h1{
    margin-bottom: 50px;
    font-size: 50px;
}
.text-div p{;
    font-size: 18px;
}

.text-div a{
    text-decoration: none;
    margin: 50px;
    padding: 3% 6%;
    display: inline-block;
    font-size: 18px;
}


.text-div a:hover{    
    border-radius: 10px;
    background-color: white;    
    color: rgb(46, 46, 73);
    font-weight: bold;
}

.fa-solid{
    margin-right: 5px;
    color: rgb(228, 43, 43);
}



/* body{
    background-image: url('1645540153249[4001].png');
    background-size: cover;
}

*{
    color: white;
}

ul{
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
    margin-left: 150px;    
}
li{
    
    border-bottom: white solid 3px;


}

img{
    width: 140px;
    height: auto;
    
}
div{
    text-align: center;
    margin-top: 130px;
}
h1{
    font-size: 50px;   
}
p{
    margin-left: 160px;
    margin-right: 160px;
    font-size: 17px;
}
a{
    text-decoration: none;
    text-align: center;
    
    
    
   
} */