<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean name="test" class="com.jspiders.mavenproject5.ipl"
    p:game="cricket" >
    <property name="teamandcolour">
    <map>
    <entry>
    <key>
    <value>RCB</value>
    </key>
    <value>Red</value>
    </entry>
    
    <entry key="DC">
    <value>Blue</value>
    </entry>
    
    <entry key="RR" value="Pink">
    </entry>
    
    <entry key="PK" value="Maroon">
    </entry>
    
    <entry key="KKR" value="Purple">
    </entry>
    
    <entry key="SRH" value="Orange">
    </entry>
    
    <entry key="MI" value="Blue">
    </entry>
    
    <entry key="CSK" value="Yellow">
    </entry>
    
    <entry key="LSG" value="SkyBlue">
    </entry>
    
    <entry key="GT" value="Black">
    </entry>
    </map>
    </property>
    </bean>
</beans>